---
import "../styles/global.css";
import ExperienceCard from "./ExperienceCard.astro";
import flsouthernLogo from "../assets/fsclogo.jpg";
import easternFloridaLogo from "../assets/efsclogo.jpg";
import avaloniaLogo from "../assets/avalonia.svg";

const skills = [
  { name: "C#", iconClass: "devicon-csharp-plain colored" },
  { name: ".NET", iconClass: "devicon-dotnetcore-plain colored" },
  { name: "Git", iconClass: "devicon-git-plain colored" },
  { name: "Docker", iconClass: "devicon-docker-plain colored" },
  { name: "Avalonia", iconSrc: avaloniaLogo.src },
  { name: "Figma", iconClass: "devicon-figma-plain colored" },
];
---

<section id="skills" class="py-15 flex flex-col items-center justify-center">
  <div class="max-w-6xl w-full px-4 sm:px-6">
    <div class="text-center mb-12">
      <h2
        class="text-4xl sm:text-5xl font-extrabold text-gradient-smooth animate-glow"
      >
        Education & Skills
      </h2>
      <p class="mt-4 text-gray-600 dark:text-gray-400">
        My academic background and professional toolset
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <ExperienceCard
        logoSrc={flsouthernLogo.src}
        name="Florida Southern College"
        position="B.S. in Computer Science"
        link="https://www.flsouthern.edu/"
        dates="2021 &#8211; 2023"
        description={`
          <ul class="list-disc list-inside space-y-2 ">
            <li>Graduated Cum Laude</li>
            <li>Major coursework: Data Structures, Algorithms, Databases, Discrete 1-3, Calculus 1-2, AI 1-2</li>
            <li>Senior project: Real-time location based group chats</li>
          </ul>
        `}
        class={`
          h-full group hover:scale-105 transition-transform duration-300
          bg-gradient-to-br from-white to-gray-100 dark:from-gray-800 dark:to-gray-700
          rounded-2xl p-8 shadow-md hover:shadow-lg flex flex-col justify-between
        `}
      />

      <ExperienceCard
        logoSrc={easternFloridaLogo.src}
        name="Eastern Florida State College"
        position="Associates of Arts"
        link="https://www.easternflorida.edu/"
        dates="2019 &#8211; 2021"
        description={`
          <ul class="list-disc list-inside space-y-2">
            <li>General education courses</li>
            <li>Consistent Dean&#39;s list recipient</li>
          </ul>
        `}
        class={`
          h-full group hover:scale-105 transition-transform duration-300
          bg-gradient-to-br from-white to-gray-100 dark:from-gray-800 dark:to-gray-700
          rounded-2xl p-8 shadow-md hover:shadow-lg flex flex-col justify-between
        `}
      />
    </div>

    <div class="text-center mb-10 mt-15">
      <h3 class="text-3xl font-semibold">Technical Skills</h3>
    </div>

    <div
      class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 md:gap-6"
    >
      {
        skills.map((skill) => (
          <div
            class="
            flex flex-col items-center justify-center
            p-4 bg-white/10 dark:bg-white/5 backdrop-blur-sm
            rounded-2xl hover:scale-105 transition-transform
            duration-200 shadow-lg hover:shadow-2xl
          "
          >
            {skill.iconClass ? (
              <i class={`${skill.iconClass} text-4xl`} />
            ) : (
              <img
                src={skill.iconSrc}
                alt={`${skill.name} icon`}
                class="h-10 w-10 object-contain"
              />
            )}
            <span class="mt-2 font-medium">{skill.name}</span>
          </div>
        ))
      }
    </div>
  </div>

  <div class="py-20"></div>
</section>
